@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');
body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0F1724;
  font-size: 14px;
  color:#c6d3e7
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{background-color: rgb(33, 44, 61); box-shadow: rgba(0, 0, 0, 0.27) 0px 2px 3px 2px; height: 69px; z-index: 9999;}
.header .dropdown-menu{left: auto; right:0}
.header .navbar-nav .nav-link{color:#c6d3e7; position: relative; padding: 0px 20px 0px 40px;}
.header .navbar-nav .nav-link:hover{color:#11ece5}
.header .navbar-nav .nav-link ion-icon{font-size: 25px; position: absolute; left:7px; top: -3px}
.header .logo{width: 50px;}
.header .logo-text{color:#c6d3e7!important}

.col-left{background-color: rgb(29, 38, 54); height: calc(100vh - 69px); padding:10px 0px; position: relative;} 
.col-right{background-color: rgb(29, 38, 54); height: calc(100vh - 69px); overflow: auto; padding:10px} 

.col-left .nav-tabs{border: none}
.col-left .nav-tabs .nav-link{border: none; color: #95a4be; outline: none}
.col-left .nav-tabs .nav-link:hover{background: #314A6E;}
.col-left .nav-tabs .nav-link .icon{font-size: 16px; font-weight: 400;}
.col-left .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{background: rgb(36, 54, 78); border:none; color: #c6d3e7}
.col-left .tab-content{background: rgb(36, 54, 78); color:#c6d3e7; height: calc(100vh - 120px) ; padding:10px 7px; overflow-y: scroll;}
/* width */
.col-left .tab-content::-webkit-scrollbar {
  width: 7px;
}

/* Track */
.col-left .tab-content::-webkit-scrollbar-track {
  background: #314A6E; 
}
 
/* Handle */
.col-left .tab-content::-webkit-scrollbar-thumb {
  background: #356581; 
}

/* Handle on hover */
.col-left .tab-content::-webkit-scrollbar-thumb:hover {
  background: #95a4be; 
}

.col-left .tab-images{margin-top:20px; display: flex; align-items: stretch; flex-wrap: nowrap; text-align: center;}
.col-left .tab-images .nav-item{line-height: 16px; align-items: center; display: inline-flex; border:1px solid #7689a7; width: 100%; border-radius: 0px;}
.col-left .tab-images .nav-link:hover{background: rgb(36, 54, 78); color: #c6d3e7;}
.col-left .tab-images .nav-item.active {border-bottom:none!important; font-weight: 400;}

.col-left .tab-images .nav-item:first-child{border-right: none;}
.col-left .tab-images .nav-item:last-child{border-left: none;}
.col-left .tab-image-section{padding:1px}
.col-left .tab-image-section .tab-content{border: 1px solid #7689a7; height: 100%; padding:10px 5px; overflow-y:unset}
.col-left .tab-image-section .tab-content .list-images{background: #1d2636; border: 1px solid #4b586f; padding:5px 0px; display: flex; align-items: baseline; flex-wrap: wrap;}
.list-images .item-image{width: 31.3%; margin:10px 1%; text-align: center;}
.list-images .item-image img{display: block; max-width: 100%; max-height: 100px; margin: 0 auto}
.list-images .item-image i{word-break: break-all; display: block; color: #95a4be;}
.pagination-image{margin-top:10px; justify-content: end;}
.pagination-image .page-link{background: #1D2636;  border: 1px solid #4b586f; color: #95a4be; font-size: 12px;}
.page-item.active .page-link{background: #24364E; border: 1px solid #4b586f;}
/* Card */
.card-cus{background-color: #1A2230; font-size: 14px;}
.card-cus .card-header{background-color: rgb(59, 80, 109); background-image: linear-gradient(to right, rgba(13, 230, 255, 0.15) 0%, rgba(201, 189, 174, 0) 25%); padding:10px}
.card-cus .card-header .btn-upload{color:#c6d3e7; border-color:#c6d3e7; background: transparent; font-size: 14px;}
.card-cus .card-header .btn-upload:hover{color:#11ece5; border-color:#11ece5}
.card-cus .card-header .btn-upload ion-icon{position: relative; top:4px; font-size: 18px;}
.search-img{border:1px solid rgb(48, 65, 93); margin-bottom: 0px;}
.search-img .form-control{background: transparent; border:none; border-top-left-radius: 20px; border-bottom-left-radius: 20px; color:#95a4be; font-size: 14px; outline: none; box-shadow: none;}
.search-img .input-group-text{background: #24364e; border-radius:20px; color:#95a4be; margin:2px; border: none; font-size:14px}
.search-img .input-group-text:hover{background-color: rgb(59, 80, 109); cursor: pointer;}

/* around-canvas */
.around-canvas{display: flex; flex-flow: column; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-box-align: center; align-items: center; height: 100%; position: relative; transition: .3s ease-in-out; padding:15px;}
.canvas-toolbar{margin-bottom:10px}
.canvas-toolbar .name{min-width: 180px;}
.canvas-toolbar .name p{font-weight: 600; font-size: 16px; margin:0px}
.canvas-toolbar .name i{font-size: 12px; color:#95a4be}
.canvas-toolbar .extend .mat-icon-button{margin:0; padding:0; color:#c6d3e7;  width: 40px; height: 40px; outline: none; box-shadow: none; }
.canvas-toolbar .extend .mat-icon-button .icon{font-size: 24px; font-weight: 300; line-height: 40px;}
.canvas-toolbar .extend .mat-icon-button .icon:hover{color:#11ece5}
.canvas-toolbar .extend .mat-icon-button .icon.disable{color: #5f6a7b; cursor:not-allowed}
.canvas-toolbar .artboard-number{display: inline-block; padding-left:30px;}
.canvas-toolbar .artboard-number .input{margin:0px 5px; width: 40px; height: 27px;}
.canvas-toolbar .artboard-number .panigation-action-artboard{margin-left:10px}
.canvas-toolbar .artboard-number .panigation-action-artboard .btn{padding:0px; width: 27px; height: 27px; margin:0px 1px; color:#c6d3e7; background:  rgb(59, 80, 109); border-color: #c6d3e7;}
.canvas-toolbar .artboard-number .panigation-action-artboard .btn:hover{background: #c6d3e7; color:#0F1724;}
.wraper-canvas{ transition: .3s ease-in-out; display: block; text-align: center;width: 100%; overflow: auto; }
.multi-artboard{display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; background-color: #fefefe;margin: 0 auto; width: 609px; height: 783px;}
.artboard-item{width: 100%; height: 100%; }
.drawing-element{height: 100%; width: 100%; outline:2px dashed; outline-offset:-10px; }

.right-nav-layer-content{height: 100%; display: flex; flex-flow: column; justify-content: space-between; position: relative;}
.right-nav-layer-section .card-cus{background: transparent;}
.right-nav-layer-section .card-body{background: none; padding:0px}
.right-nav-layer-section .card-header{padding:5px 10px}
.right-nav-layer-section .card-header .title{font-size: 16px; margin-right:20px}
.right-nav-layer-section .card-header .btn{color:#c6d3e7; margin:0px}
.right-nav-layer-section .card-header .icon{margin: 0px 7px; font-size: 15px; cursor: pointer;}
.right-nav-layer-section .card-header .icon.view{top:1px}
.right-nav-layer-section .card-header .icon:hover{color:#11ece5}
.item-layer{border-bottom: 1px solid rgb(48, 65, 93)}
.item-layer-content{height: 30px; align-items: center; position: relative; width: 100%;}
.item-layer-content .icon{width: 27px; line-height: 14px; font-size: 14px; position: relative; justify-content: center; display: flex; align-items: center; color:#3B506D; height: 100%;}
.item-layer-content .icon::after{content: ''; position: absolute; right:0; height: 100%; width: 1px; background:rgb(48, 65, 93) ;}
.item-layer-content .lock::before{content: ''; position: absolute; left:0; height: 100%; width: 1px; background:rgb(48, 65, 93) ;}
.item-layer-content .icon.type{color:#95a4be;}
.item-layer-content .name{text-transform: capitalize;padding-left: 5px;max-width: 80px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;padding-right: 10px;height: 100%;line-height: 33px; color:#95a4be}
.item-layer-content .remove{position: absolute;right: 0px; z-index: 1; color:#95a4be; cursor: pointer; }
.item-layer-content .remove:hover{color:#11ece5}

.right-nav-top-section .toolbar-edit{display: flex;}
.right-nav-top-section .toolbar-edit .btn{display: flex; flex-flow: column; justify-content: center; align-items: center; text-transform: capitalize; padding:8px 0px; width: 20%; margin:4px; color:#c6d3e7; text-decoration: none;}
.right-nav-top-section .toolbar-edit .btn:hover{color:#11ece5 ;}
.right-nav-top-section .toolbar-edit .btn span{font-size: 22px; font-weight: 300;}
.right-nav-top-section .toolbar-edit .btn .text{font-size: 12px;}
.right-nav-top-section .toolbar-edit .btn span.copy{font-size: 24px;}
.right-nav-top-section .toolbar-edit .btn span.delete{font-size: 23px;}

